<div class="bbsBodyBg">
    <div class="commDetails clear">
        <div class="clear"></div>
        <div class="fl dd_left borStyle">
            <!--个人信息-->
            {foreach $dat2 as $value}
            <div class="person clear">
                
                <div class="fl person_r">
                    <h3 class="name">{$value.art_title}</h3>
                    <span class="time">
                       
            <a href="{:url('user/self')}" target="_blank" class="author">{$value.art_username}
                         </a>
												<em><!--发表于--></em>
                         
             
						{$value.art_createtime}		


                        <span class="see"><!--<i></i>-->
                         
                     
                        
						浏览 {$value.hits}
                        </span>

					
                     
                    </span>
                </div>
            </div>
            <!--详情-->
            <div class="det_info">
                <p align="left" style="color:blue;">{$value.art_wen}</p>
                <p align="left">
                <img class="lazyLoad" src="__SITE__/uploadsqqqq/{$value.art_pic}" >
                </p>

            </div>

            <!--留言-->
         
            <div class="comments_box fontSong" id="start_reply">
                <div class="head">
                    <div class="talkSty">
                        <span class="talkIco"></span>
                        <span id="comment_total"></span>
                    </div>
                   <!--  <img src="__SITE__/uploadsqqqq/{$value.art_pic}" height="44" width="175"> -->
                </div>

                  {if $value.ping ==0}

                <div class="body">

                    <textarea name="hui_content" id="hui_content" ></textarea>
                        <a href="huimao" id="huimao"></a>
                        <button style="background:#2BFFF2;width:90px;height: 30px; font-size: 15px;line-height:30px;margin-left:495px;" id="anniu">回复
                        </button>
                       
                         <input type="hidden" value="{$value.aid}" id="art_aid">
                        
                         

                    <ul class="com_liuyanList clear  huifu" id="list1">
                                    {foreach $huiselect as $values}
                                    
                    <li> {$values.hui_username} &nbsp;&nbsp;{$values.hui_content}
                    <span>{$values.hui_createtime}</span></li>
                      
                                   
                           {/foreach}          
                    </ul>
                       
                  
                </div>

                  {/if}
              <a> {$huiselect->render()}</a> 
               
                 

                <script type="text/javascript">
                	$(function(){
                          

                      $("#anniu").click(function(){
                           var hui_content = $("#hui_content").val();
                           var art_aid = $("#art_aid").val();
                           // var hui_createtime = $("#hui_createtime").val();
                           
                            
                          $.ajax({
                            type:"POST",
                            url:"__SITE__/index/article/huiinsert",
                            data:{'hui_content':hui_content,'art_aid':art_aid},
                            success:function(msg){
                                 var msg = eval('('+msg+')');
                                console.log(msg.hui_content);

                                 console.log($("#huifu"));
                                $(".huifu").append('<li>'+msg.hui_content+'</li>')

                            }
                          });
                      });

                	});

                </script>
            </div>
             {/foreach}
             
        </div>
        <script>
        $(".communityTitle").hover(function() {
            $(this).find(".showName").show();
        }, function() {
            $(this).find(".showName").hide();
        });
        </script>
        <!--right-->
        <div class="fl dd_right">
            <!--加速按钮-->
            <div class="releaseNew fenxiangBox" style="position: static; margin: 0px auto; top: 0px; left: 50%; z-index: 1;">
                <a href="{:url('life/arts')}" class="fabu" id="fabu_tiezi"><i></i>发布新帖</a>
                <ul class="fabuBom clear">
                    <li class="bli">
                        <span class="b"><a href="#huimao" class="hui_a"><i class="hui"></i>回复</a></span>
                        <script type="text/javascript">
                        $(".hui_a").click(function() {
                            location.href = "javascript:;";
                            $("#comment,#comment2").focus();
                        });
                        $("#fabu_tiezi").click(function() {
                            createShare();
                        });
                        </script>
                    </li>
                    <li class="bli">
                        <span class="b">
							<a href="javascript:add_up_cnt2(19438)" class="like_a"><i class="like"></i>喜欢</a>
						</span>
                        <!-- 喜欢过是liked -->
                    </li>
                    <li class="bli">
                        <span class="b" id="clickShare"> 
							<div href="javascript:;" class="share_a">
								<i class="share"></i>分享
								<div class="shareBox" style="display: none;">
									<span class="san"></span>
                        <ul class="share_ico">
                            <li>
                                <a href=""></a>
                                <p>
                                    <a href="http://www.douban.com/share/service?image=&amp;href=http%3A%2F%2Fwww.daizhe.cn%2Fshare%2Fdetail%2Fid%2F19438&amp;name=%E5%BE%85%E7%9D%80%E7%A4%BE%E5%8C%BA%EF%BC%9A%E5%B0%B1%E8%BF%99%E6%A0%B7%EF%BC%8C%E9%9D%99%E9%9D%99%E5%9C%B0&amp;text=%E5%B0%B1%E8%BF%99%E6%A0%B7%EF%BC%8C%E9%9D%99%E9%9D%99%E5%9C%B0">豆瓣</a>
                                </p>
                            </li>
                            <li>
                                <a href="http://service.weibo.com/share/share.php?title=%E5%BE%85%E7%9D%80%E7%A4%BE%E5%8C%BA%EF%BC%9A%E5%B0%B1%E8%BF%99%E6%A0%B7%EF%BC%8C%E9%9D%99%E9%9D%99%E5%9C%B0&amp;url=http%3A%2F%2Fwww.daizhe.cn%2Fshare%2Fdetail%2Fid%2F19438&amp;pic=" target="_blank" class="a_ico sina"></a>
                                <p>
                                    <a href="http://service.weibo.com/share/share.php?title=%E5%BE%85%E7%9D%80%E7%A4%BE%E5%8C%BA%EF%BC%9A%E5%B0%B1%E8%BF%99%E6%A0%B7%EF%BC%8C%E9%9D%99%E9%9D%99%E5%9C%B0&amp;url=http%3A%2F%2Fwww.daizhe.cn%2Fshare%2Fdetail%2Fid%2F19438&amp;pic=" target="_blank">新浪微博</a>
                                </p>
                            </li>
                            <li>
                                <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3A%2F%2Fwww.daizhe.cn%2Fshare%2Fdetail%2Fid%2F19438&amp;title=%E5%BE%85%E7%9D%80%E7%A4%BE%E5%8C%BA%EF%BC%9A%E5%B0%B1%E8%BF%99%E6%A0%B7%EF%BC%8C%E9%9D%99%E9%9D%99%E5%9C%B0&amp;pics=&amp;summary=%E5%B0%B1%E8%BF%99%E6%A0%B7%EF%BC%8C%E9%9D%99%E9%9D%99%E5%9C%B0" target="_blank" class="a_ico qq"></a>
                                <p>
                                    <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3A%2F%2Fwww.daizhe.cn%2Fshare%2Fdetail%2Fid%2F19438&amp;title=%E5%BE%85%E7%9D%80%E7%A4%BE%E5%8C%BA%EF%BC%9A%E5%B0%B1%E8%BF%99%E6%A0%B7%EF%BC%8C%E9%9D%99%E9%9D%99%E5%9C%B0&amp;pics=&amp;summary=%E5%B0%B1%E8%BF%99%E6%A0%B7%EF%BC%8C%E9%9D%99%E9%9D%99%E5%9C%B0" target="_blank">QQ空间</a>
                                </p>
                            </li>
                            <li id="weixinClick">
                                <a href="javascript:;" class="a_ico xin"></a>
                                <p>
                                    <a href="javascript:;">微信</a>
                                </p>
                                <div class="erweima">
                                    <img src="./就这样，静静地_files/qrcode" width="127" height="126">
                                </div>
                            </li>
                        </ul>
            </div>
        </div>
        </span>
        <!--微信弹框-->
        <div class="weixinBox">
            <img src="./就这样，静静地_files/share_close.jpg" class="close" id="close" height="9" width="9">
            <img src="./就这样，静静地_files/qrcode" width="127" height="126">
            <p>分享到微信朋友圈</p>
        </div>
        <script type="text/javascript">
        $("#clickShare").hover(function() {
            $('.shareBox').show();
        }, function() {
            $('.shareBox').hide();
        });
        $("#weixinClick").hover(function() {
            $(this).find(".erweima").stop().animate({
                'height': '280px'
            }, 300);
        }, function() {
            $(this).find(".erweima").stop().animate({
                'height': '100px'
            }, 300);
        });
        </script>
        </li>
        </ul>
    </div>
    <script type="text/javascript">
    /*喜欢分享固定定位*/
    $(function() {
        var navH = $(".fenxiangBox").offset().top;
        $(window).scroll(function() {
            var scroH = $(this).scrollTop();
            if (scroH >= navH) {
                $(".fenxiangBox").css({
                    "position": "fixed",
                    "top": 0,
                    "left": "50%",
                    "margin-left": "188px",
                    "z-index": "1"
                });
            } else if (scroH < navH) {
                $(".fenxiangBox").css({
                    "position": "static",
                    "margin": "0 auto"
                });
            }
            //console.log(scroH==navH);
        });
    });
    </script>
    <div class="borStyle bbsRight_add">
        <!--广告位-->
        <div class="bbsA_ad" style="padding-top:30px;">
            <div id="ads-share_detail_right_ad1">
                <a href="http://www.daizhe.cn/link?link_type=1&amp;link_relate_id=7&amp;link_url=http%3A%2F%2Fwww.daizhe.cn%2Fexperience%2F1014%3Ffrom%3Dld_tiezixiangqing" target="_blank"><img src="__SITE__/uploads/{$Think.session.avatar}" width="260" border="0"></a>
            </div>
        </div>
        <div class="lineDiv"></div>
        <!--多少人喜欢-->
        <div class="hotUser">
            <div class="tit">
                <h3 style="padding:10px 0px 5px 0px;">
							<i>0</i>人喜欢
						</h3>
            </div>
            <ul class="userList clear">
            </ul>
        </div>
        <!--广告图-->
        <!--<div class="com_ad"><a href="javascript:;"><img src="/images/comm/cherish2.jpg" class="com_adScroll" /></a></div>-->
        <script type="text/javascript">
        //显示详细
        $("#show_oth,#show_art").show().addClass("focuson");
        /*
        $(".likeShowMore .articleList").on("mouseenter",function(){
        	$("#show_oth,#show_art").on("mouseout",function(){
        		$(this).hide();
        		$(".likeShowMore .articleList li").hover(function(){
        			$(this).find(".alike_box").stop().slideUp(500);
        		},function(){
        			$(this).find(".alike_box").stop().slideDown(500);
        		});
        	}).on("mouseenter",function(){
        		$("#show_oth,#show_art").stop().slideUp(500);
        	});
        }).on("mouseleave",function(){
        	$("#show_oth,#show_art").stop().slideUp(500);
        });
        $(".likeShowMore .articleList li").hover(function(){
        	$(this).find(".alike_box").stop.slideDown(500);
        },function(){
        	$(this).find(".alike_box").stop.slideUp(500);
        });
        */
        $(".likeShowMore .articleList").mouseenter(function() {
            $(this).find("li").hover(function() {
                $(this).siblings().find(".focuson").stop().slideUp(500).removeClass("focuson");
                //$(this).siblings().find(".focuson").hide().removeClass("focuson");
                $(this).find(".alike_box").slideDown(300).addClass("focuson");
            }, function() {
                $(this).find(".alike_box").stop().slideUp(500).removeClass("focuson");
                //$(this).find(".alike_box").hide().removeClass("focuson");
            });
        }).mouseleave(function() {
            $("#show_oth,#show_art").stop().slideDown(300).addClass("focuson");
        });
        </script>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
$(function() {
    fixAjaxs(".likeMe a");
    showComHot();
    showComList(1);
    $("#comment,#comment2").focusin(function() {
        var login_uid = "193654";
        if (login_uid == '' || login_uid == 0) {
            loginPop("http://www.daizhe.cn/share/detail/id/19438#start_reply");
            return false;
        }
    });
    $('.pop_b .foot span, .pop_c .foot .cancel').click(function() {
        $('.mask').fadeOut();
        $(this).parent().parent().fadeOut();
    });
    $('.comments_box .button input').click(function() {
        var submitid = $(this).attr('id').replace('submit', '');
        addComment($(this), submitid);
    });
    //Ctrl+Enter提交
    $(document).keydown(function(e) {
        if (e.ctrlKey && e.which == 13) {
            $('#submit0').click();
        }
    });
    $("#heart").hover(function() {
        $(this).attr("style", "color:#ff6e68;cursor:pointer;padding-right:6px;");
    }, function() {
        $(this).attr("style", "cursor:pointer;padding-right:6px;");
    });
});

function showMsg(obj, str) {
    var body_h = $('body').height();
    $('.mask').css('height', body_h).fadeIn();
    var t_top = obj.offset().top - 200;
    $('.pop_b .body').html(str);
    $('.pop_b').css('top', t_top).fadeIn();
}
//获取热门评论
function showComHot() {
    $.ajax({
        type: 'post',
        url: '/comment/do',
        data: {
            "ajax": "hotlist",
            "comment_type": "4",
            "relate_id": 19438
        },
        dataType: "json",
        success: function(result) {
            if (result.code == "1") {
                if (result.data.total > 0) {
                    $('.com_liuyanList').before('<div class="com_hotbox clear"><h3>热门评论</h3><ul class="com_hotlist" id="com_hotlist">' + result.data.list + '</ul></div>');
                    $('#com_hotlist li:last').find('.liuyan_info').css('border-bottom', '0');
                }
            }
        }
    });
}
//获取默认显示的
function showComList(page) {
    $.ajax({
        type: 'post',
        url: '/comment/do',
        data: {
            "ajax": "list",
            "comment_type": "4",
            "relate_id": 19438,
            "page": page
        },
        dataType: "json",
        success: function(result) {
            if (result.code == "1") {
                var totals = result.data.total;
                $("#comment,#comment2").val('');
                $("#comment_total, #comment_totals").html(totals);
                $('.com_liuyanList').append(result.data.list);
                if ($('#Div1').length > 0) {
                    $('#Div1').remove();
                }
                if ($('.com_liuyanList li').length < totals) {
                    $('.com_liuyanList').after('<div id="Div1"><div id="yw0" class="moreMore"><a href="javascript:showComList(' + (page + 1) + ')">更多评论</a></div></div>');
                }
                fixAjax(page);
            }
        }
    });
}
//添评论
function addComment(obj, fid) {
    var login_uid = "193654";
    if (login_uid == '' || login_uid == 0) {
        loginPop("http://www.daizhe.cn/share/detail/id/19438#start_reply");
        return false;
    }
    var content = $.trim($("#comment").val());
    var content2 = $.trim($("#comment2").val());
    if (content == '' || content == content2) {
        //showMsg(obj, '评论内容不能为空！');
        alert('评论内容不能为空！');
        return false;
    }
    if (content.length > 500) {
        //showMsg(obj, '字符过长！');
        alert('字符过长！');
        return false;
    }
    //之后也可以改成：文本输入500字之后就不能输入--sina
    $.ajax({
        type: 'post',
        url: '/comment/do/',
        data: {
            "ajax": "add",
            "comment_type": "4",
            "relate_id": 19438,
            "comment_fid": fid,
            "content": content.replace(content2, '')
        },
        dataType: "json",
        success: function(result) {
            if (result.code == "1") {
                $('.com_liuyanList').html('');
                showComList(1);
            } else if (result.code == "-1") {
                loginPop("http://www.daizhe.cn/share/detail/id/19438#start_reply");
                return false;
            } else {
                alert(result.msg);
                return false;
            }
        }
    });
}

function fixAjax(page) {
    $('.comments_box .hui').click(function() {
        var login_uid = "193654";
        if (login_uid == '' || login_uid == 0) {
            loginPop("http://www.daizhe.cn/share/detail/id/19438#start_reply");
            return false;
        }
        var recom_id = $(this).attr('id').replace('re', '');
        var reply_username = $(this).attr('data-name');
        $('.comments_box .button input').attr('id', recom_id);
        $('#comment,#comment2').val('回复：' + reply_username + '　');
        $('#comment,#comment2').focus();
        $("html,body").animate({
            scrollTop: $(".comments_box .head").offset().top
        }, 300);
    });
}
</script>
<script type="text/javascript">
function addCommentUp(comment_id, share_id) {
    var login_uid = "193654";
    if (login_uid == '' || login_uid == 0) {
        loginPop("http://www.daizhe.cn/share/detail/id/19438#start_reply");
        return;
    }
    $.ajax({
        type: "post",
        url: '/share/up',
        data: {
            "fid": comment_id,
            "sid": share_id
        },
        dataType: "json",
        success: function(result) {
            if (result.code == "200") {
                loginPop("http://www.daizhe.cn/share/detail/id/19438#start_reply");
                return;
            }
            if (result.code == "300") {
                alert(result.msg);
                return;
            }
            if (result.code == "400") {
                $('#ding' + comment_id).html('<i></i>(' + result.data.up_cnt + ')').parent().removeClass('zan').addClass('zanOK');
                //window.location.reload();
                return;
            }
        }
    });
}

function add_up_cnt2(beauty_id) {
    var act = 'up';
    var login_uid = "193654";
    if (login_uid == '' || login_uid == 0) {
        loginPop("http://www.daizhe.cn/share/detail/id/19438#heart");
        return;
    }
    $.ajax({
        type: "post",
        url: '/share/favorite',
        data: {
            "fid": beauty_id
        },
        dataType: "json",
        success: function(result) {
            if (result.code == "200") {
                loginPop("http://www.daizhe.cn/share/detail/id/19438#heart");
                return;
            }
            if (result.code == "300") {
                var cnt1 = result.data.up_cnt;
                $(".hotUser .tit h3 i").html(cnt1);
                if (cnt1 >= 8) {
                    if ($("#fvuser193654").length > 0) {
                        console.log($("#fvuser193654").length);
                        $("#fvuser193654").remove();
                        window.location.reload();
                    }
                } else {
                    $("#fvuser193654").remove();
                }
                //$('#quicklove').removeClass('quickNo').addClass('quick').html('<i></i>喜欢');
                $('.like_a i').removeClass('liked').addClass('like');
                return;
            }
            if (result.code == "400") {
                var cnt = result.data.up_cnt;
                $(".hotUser .tit h3 i").html(cnt);
                if (cnt > 8) {
                    $('.userList li:last-child').hide();
                }
                $(".hotUser .userList").prepend('<li class="allHeadImg" id="fvuser193654"><a href="/user/193654" target="_blank"><img src="http://img1.daizhe.cn/user/20161207/2/20161207192223961_100_100.jpg" alt="12132e23" /></a><div class="model_imgFloat"><span class="f_san"></span><h4><a href="/user/193654" target="_blank" class="name">12132e23</a></h4><p>ewdwed</p></div></li>');
                fixAjaxs(".likeMe a");
                /*显示名称*/
                /*$(".userList li").hover(function(){
                	$(this).find(".showName").show();
                },function(){
                	$(this).find(".showName").hide();
                });*/
                //$('#quicklove').removeClass('quick').addClass('quickNo').html('<i></i>已喜欢');certifiedArr_author
                $('.like_a i').removeClass('like').addClass('liked');
                return;
            }
        }
    });
}
//发布新帖子
function createShare() {
    $.ajax({
        type: "post",
        url: "/share/do",
        data: {
            "uid": "193654"
        },
        dataType: "json",
        success: function(u) {
            if (u.code == "400") {
                loginPop("http://www.daizhe.cn/share/detail/id/19438");
                return false;
            }
            if (u.code == "-3") {
                invitationPop("http://www.daizhe.cn/share/detail/id/19438");
                return false;
            }
            if (u.code == "200") {
                //location.href = '/share/create';
                location.href = '/share/createguide';
            }
            if (u.code == "-5") {
                window.location.reload();
            }
        }
    });
}

function fixAjaxs(elm) {
    _elm = $(elm);
    //头像显示浮框
    $(".allHeadImg").hover(function() {
        $(this).find(".model_imgFloat").show();
    }, function() {
        $(this).find(".model_imgFloat").hide();
    });
    $(".communityTitle").hover(function() {
        $(this).find(".showName").show();
    }, function() {
        $(this).find(".showName").hide();
    });
    //关注
    //$(".likeMe a").hover(
    _elm.hover(
        function() {
            //alert($(this).attr('class'));
            var orgClass = $(this).attr('class'),
                newClass = '';
            switch (orgClass) {
                case 'attention':
                    $(this).attr('class', 'attention_hov');
                    break;
                case 'yi_attention':
                case 'together':
                    $(this).attr('class', 'qu_attention').html('<i></i>取消关注');
                    break;
                default:
                    break;
            }
        },
        function() {
            var orgClass = $(this).attr('class'),
                followta = $(this).attr('data-followta'),
                followme = $(this).attr('data-followme');
            switch (orgClass) {
                case 'attention_hov':
                    $(this).attr('class', 'attention');
                    break;
                case 'qu_attention':
                    if (followta == '1' && followme == '1') $(this).attr('class', 'together').html('<i></i>互相关注');
                    else $(this).attr('class', 'yi_attention').html('<i></i>已关注');
                    break;
                default:
                    break;
            }
        });
    _elm.unbind('mousedown').mousedown(function() {
        var _this = $(this);
        var uids = _this.attr("data-uid");
        var _that = $(".like_" + uids + " a");
        $.ajax({
            url: '/user/do',
            type: 'post',
            data: {
                'ajax': 'follow',
                'type': 1,
                'id': uids
            },
            dataType: 'json',
            success: function(result) {
                if (result.code == '1') {
                    if (result.data != 'undefined' && result.data > 0) {
                        if (result.data == 1) {
                            _that.attr('class', 'yi_attention').attr('data-followta', '1').html('<i></i>已关注');
                        } else if (result.data == 2) {
                            _that.attr('class', 'together').attr('data-followta', '1').attr('data-followme', '1').html('<i></i>互相关注');
                        } else {
                            _that.attr('class', 'attention').attr('data-followta', '0').html('<i></i>关注');
                        }
                    } else {
                        _that.attr('class', 'attention').attr('data-followta', '0').html('<i></i>关注');
                    }
                } else if (result.code == "-1") {
                    loginPop("http://www.daizhe.cn/share/detail/id/19438");
                    return false;
                } else {
                    alert(result.msg);
                    return false;
                }
            }
        });
    });
}
</script>
<script type="text/javascript">
$(function() {
    /*显示名称*/
    /*$(".userList li").hover(function(){
    	$(this).find(".showName").show();
    },function(){
    	$(this).find(".showName").hide();
    });*/

    /*分享浮框*/
    $(".clickShare").hover(function() {
        $('.shareBox').show();
    }, function() {
        $('.shareBox').hide();
    });

})
</script>
<div id="ft">
    <ul>
        <li>
            <h5>关于我们<br><em>ABOUT US</em></h5>
            <p><a href="http://www.daizhe.cn/intro/about" target="_blank">关于待着</a></p>
            <p><a href="http://www.daizhe.cn/intro/join" target="_blank">加入我们</a></p>
            <p><a href="http://www.daizhe.cn/intro/contact" target="_blank">联系我们</a></p>
            <p><a href="http://www.daizhe.cn/intro/media" target="_blank">媒体报道</a></p>
            <p><a href="http://www.daizhe.cn/experience/supply" target="_blank">商业合作</a></p>
            <p><a href="http://www.daizhe.cn/intro/cooperation" target="_blank">Cooperation</a></p>
        </li>
        <li>
            <h5>帮助中心<br><em>HELP</em></h5>
            <p><a href="http://www.daizhe.cn/intro/help" target="_blank">玩转待着</a></p>
            <p><a href="http://www.daizhe.cn/intro/advice" target="_blank">建议反馈</a></p>
            <p><a href="http://www.daizhe.cn/passport/certified" target="_blank">申请认证</a></p>
        </li>
        <li>
            <h5>关于体验<br><em>EXPERIENCE</em></h5>
            <p><a href="http://www.daizhe.cn/intro/aboutexp/v/1#content1" target="_blank">为何免费</a></p>
            <p><a href="http://www.daizhe.cn/intro/aboutexp/v/2#content2" target="_blank">是否有黑幕</a></p>
            <p><a href="http://www.daizhe.cn/intro/aboutexp/v/3#content3" target="_blank">何为体验官</a></p>
            <p><a href="http://www.daizhe.cn/intro/aboutexp/v/4#content4" target="_blank">体验官如何产生</a></p>
            <p><a href="http://www.daizhe.cn/video" target="_blank">活动视频</a></p>
        </li>
        <!-- 
		<li>
			<h5>合作伙伴<br /><em>HELP</em></h5>
			<p><a href="http://www.lavion.com.cn?from=daizhe" target="_blank">优翔国际</a></p>
			<p><a href="http://www.soyoung.com?from=daizhe" target="_blank">新氧美丽社区</a></p>
		</li>
		 -->
        <li>
            <h5>网站条款<br><em>SITE TERMS</em></h5>
            <p><a href="http://www.daizhe.cn/intro/termsuser" target="_blank">会员条款</a></p>
            <p><a href="http://www.daizhe.cn/intro/copyright" target="_blank">版权声明</a></p>
        </li>
        <li class="last">
            <a href="http://weibo.com/678300513" target="_blank" class="sina">待着公众微博</a>
            <a href="javascript:;" class="weixin" style="cursor:default; text-decoration:none;">待着公众微信</a>
            <img src="./就这样，静静地_files/daizhe_code_n.png" alt="" width="98" height="98">
        </li>
    </ul>
    <p class="copyright">copyright 2014 daizhe.cn All rights reserved <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备10215719号-5</a></p>
</div>
<script type="text/javascript">
$(function() {
    $(".btn_track").click(function() {
        var btn_value = $(this).attr("btntrackv");
        logRecorde(btn_value);
    });
});
</script>
<style type="text/css">
#common_ajax_loading {
    display: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: #777A83;
    text-align: center;
    overflow: hidden;
    position: fixed;
    z-index: 999999991;
    left: 50%;
    bottom: 100px;
    margin-left: -50px;
    color: #ffffff;
    font-size: 18px;
    filter: alpha(opacity=60);
    opacity: 0.5;
    -moz-opacity: 0.5;
}

#common_ajax_loading img {
    vertical-align: middle;
}

#common_ajax_mask {
    display: none;
    position: fixed;
    z-index: 999999990;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
    background: #333333;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
</style>
<div id="common_ajax_loading">
    <img src="./就这样，静静地_files/ajax_loading_def.gif">
</div>
<div id="common_ajax_mask"></div>
<script type="text/javascript">
$(function() {
    $(document).ajaxStart(function() {
        showComAjaxLoading();
    });
    $(document).ajaxStop(function() {
        hideComAjaxLoading();
    });
});
// 显示通用loading
function showComAjaxLoading($str) {
    if (typeof($str) != 'undefined') {
        $('#common_ajax_loading').find('span').html($str);
    }
    $('#common_ajax_loading').show();
}
// 隐藏通用loading
function hideComAjaxLoading($t) {
    if (typeof($t) != 'undefined') {
        $t = 300;
    }
    $('#common_ajax_loading').fadeOut($t);
}
// 显示通用mask
function showComAjaxMask() {
    $('#common_ajax_mask').show();
}
// 隐藏通用mask
function hideComAjaxMask($t) {
    if (typeof($t) != 'undefined') {
        $t = 300;
    }
    $('#common_ajax_mask').fadeOut($t);
}
</script>
<script type="text/javascript">
/*返回顶部
-------------------------------------------------------------*/
function returnTop() {
    var $backToTopEle = $('<div class="backToTop"></div>').prependTo($("body")).click(function() {
        $("html, body").animate({
            scrollTop: 0
        }, 500);
    })
    var $backToTopFun = function() {
        var st = $(document).scrollTop(),
            winh = $(window).height();
        (st > 1000) ? $backToTopEle.show(): $backToTopEle.hide();
        //IE6下的定位
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };
    $(window).bind("scroll", $backToTopFun);
    $backToTopFun();
    $(".backToTop").hover(function() {
        $(this).addClass("on2")
    }, function() {
        $(this).removeClass("on2")
    })
}
returnTop();

function Feedback() {
    var $backToTopEle = $('<a href="/intro/advice" target="_blank" class="Feedback"></a>').prependTo($("body")).click(function() {

    })
    var $backToTopFun = function() {
        var st = $(document).scrollTop(),
            winh = $(window).height();
        (st > 1000) ? $backToTopEle.show(): $backToTopEle.hide();
        //IE6下的定位
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };
    $(window).bind("scroll", $backToTopFun);
    $backToTopFun();
    $(".Feedback").hover(function() {
        $(this).addClass("on2");
    }, function() {
        $(this).removeClass("on2");
    })
}
Feedback();

function Provide() {
    var $backToTopEle = $('<a href="/supply?Launch" target="_blank" class="Provide"></a>').prependTo($("body")).click(function() {

    })
    var $backToTopFun = function() {
        var st = $(document).scrollTop(),
            winh = $(window).height();
        (st > 1000) ? $backToTopEle.show(): $backToTopEle.hide();
        //IE6下的定位
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };
    $(window).bind("scroll", $backToTopFun);
    $backToTopFun();
    $(".Provide").hover(function() {
        $(this).addClass("on2")
    }, function() {
        $(this).removeClass("on2")
    })
}
Provide();
</script>
<script type="text/javascript" src="__STATIC__/js/swfobject.js"></script>
<script type="text/javascript" src="__STATIC__/js/web_socket.js"></script>
<script type="text/javascript" src="__STATIC__/js/json.js"></script>
<script type="text/javascript">

</script>
<script type="text/javascript">
//展示推送的信息1
function showMessage1(result) {
    //console.log(result);
    if (typeof(result.push_data) != "undefined") {
        show_notice(result.push_data);
    }
}
//展示消息数
function show_notice(data) {
    //console.log(data);
    if (data.new_all_cnt == 0) {
        if ($('#head-notice_all_cnt1').length > 0) {
            $('#head-notice_all_cnt1').hide();
            $('#head-notice_all_cnt1').html('0');
        }
        if ($('#head-notice_all_cnt2').length > 0) {
            $('#head-notice_all_cnt2').hide();
            $('#head-notice_all_cnt2').html('0');
        }
    } else if (data.new_all_cnt > 0) {
        if ($('#tip-notice_all_cnt').length > 0) {
            $('#tip-notice_all_cnt').html(data.new_all_cnt);
            if ($('#tip-notice_all_cnt').parents('.newsCenter_tit').find('.newDian').length == 0) {
                $('#tip-notice_all_cnt').parents('.newsCenter_tit').prepend('<span class="newDian"></span>');
            }
        }
        if ($('#head-notice_all_cnt1').length > 0) {
            $('#head-notice_all_cnt1').html(data.new_all_cnt);
            $('#head-notice_all_cnt1').show();
        }
        if ($('#head-notice_all_cnt2').length > 0) {
            $('#head-notice_all_cnt2').html(data.new_all_cnt);
            $('#head-notice_all_cnt2').show();
        }
    }
    if (data.new_notification_cnt > 0) {
        if ($('#tip-notice_notification_cnt').length > 0) {
            $('#tip-notice_notification_cnt').html(data.new_notification_cnt);
            if (data.new_notification_cnt != $('#more-notice_notification_cnt').html() && $('#more-notice_type').html() == 1) {
                window.location.reload();
            }
        }
        $('#head_notice_link').attr('href', '/notification');
    } else {
        $("#all_hu").hide();
    }
    if (data.new_message_cnt > 0) {
        if ($('#tip-notice_message_cnt').length > 0) {
            $('#tip-notice_message_cnt').html(data.new_message_cnt);
            if (data.new_message_cnt != $('#more-notice_message_cnt').html() && $('#more-notice_type').html() == 2) {
                window.location.reload();
            }
        }
        $('#head_notice_link').attr('href', '/message');
    }
    if (data.new_news == 2) {
        $('#head_notice_link').attr('href', '/notification');
    } else {
        $('#head_notice_link').attr('href', '/message');
    }
}
</script>
<!-- 统计代码开始 -->
<div style="display: none;">
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fca0cd3424b3d97d1671da2b5a4dbe92d' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script src="__STATIC__/js/h.js" type="text/javascript"></script>
    <a href="http://tongji.baidu.com/hm-web/welcome/ico?s=ca0cd3424b3d97d1671da2b5a4dbe92d" target="_blank"><img border="0" src="./就这样，静静地_files/21.gif" width="20" height="20"></a>
</div>
<!-- 统计代码结束 -->
<script type="text/javascript">
$(function() {
    if ($("img.lazyLoad").length > 0) {
        $("img.lazyLoad").lazyload({
            effect: "fadeIn"
        });
    }
});
</script>
</body>

</html>
